html{
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    margin: 0px;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0px;
    color: #666;
}
.container{
    max-width: 1900px;
    width: 100%;
    
}