html{
    font-family: 'Courier New', Courier, monospace;
    
}
body{
    margin: 0;
}
h1,h2,h3,h4,h5,h6,p,span{
    margin: 0;
    color: #666;
}
.container{
    max-width: 1920px;
    width: 100%;
       
}

/*estilizando Header*/
header{
    position: relative;
    top: 0;
    height: auto;
    width: 100%;
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}
nav:after{
    clear: both;
    content: "";
    display: block;
}
nav.container{
    max-width: 1200;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}
#logo{
    width: 50px;
    height: 50px;
    margin-top: 25px;
}
/*levando alista la pra direita da tela*/
.nav-container ul{
    float: right;
    height: 100px;
    line-height: 100px;
    margin: 0;
}
.nav-container li{
    list-style: none;
    float: left;
    margin: 0 15px;
}
.nav-container li a {
    text-decoration: none;
    color: #666;
    transition: .5s;
}
